body {
    font-family: "Roboto", sans-serif;
}
/* 

html { box-sizing: border-box;}
body { margin: 0;}
img { max-width: 100%;}
a { text-decoration: none;}
*,*::before, *::after { box-sizing: inherit;} */
*{
    /* width: 1280px; */
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: "Roboto", sans-serif; */
}
.header .header-menu .menu .menu-list .menu-item .menu-link .main-section .section-content .top-menu .footer-menu .footer-list .footer-item .footer-link {
    width: 1280px;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: "Roboto", sans-serif; */
}
.header {
    /* height: 252px; */
    
    padding-top: 63px;
    padding-left: 98px;
    /* box-sizing: border-box; */
    }
    .header .header-logo {
    width: 334px;
    /* height: 79px; */
    font-weight: 400;
    font-size: 80px;
    
    }   
    /* .logo {
        width: 1280px;
    } */
    .header .logo .colored {
    color: rgb(32, 140, 235);
    }
    .header-menu {
        background-color: #35444F;
        /* text-align: center; */
        margin-top: 40px;
        width: 1280px;
        box-sizing: border-box;
       
    }
    /* .header-menu .main-menu {
        align-self: center;
    } */
   
            .header-menu .main-menu .menu-list{
            list-style-type: none;
            display: flex;
            justify-content:center;
            
            }
            .header-menu .main-menu .menu-list .menu-item {
                /* text-align: center; */
                height: 72px;
                border-right: white 1px solid;
                text-align: center;
                padding-top: 26px;
                }
            .header-menu .menu-item:first-child {
                border-left: white 1px solid;
            }
            .header-menu .main-menu .menu-list .menu-item:hover {
                background-color: #222F3A;
                box-sizing: border-box;

            }
                .header-menu .menu-list .menu-link {
                padding-left: 32px;
                padding-right: 32px;
                color: white;
                font-size: 24px;
                /* font-family: "Roboto", sans-serif; */
                align-self: center;
                }
                
    .main-section {
        display: flex;
    flex-direction:column;
    width: 1280px;
    padding-top: 48px;
    /* height: 529px; */
    /* box-sizing: border-box; */
    /* justify-content: center; */
        margin-left: 100px;
        /* margin-top: 0;
        margin-right: 99px; */
        
    }
    .main-section .left {
        width: 100%;
        height: 100%;
        /* padding-top: -125px; */

    }
        
        .left .left-menu {
            /* padding-top: -125px; */

        width: 344px;
        box-sizing: border-box;
        border: #35444F 1px solid;
            
        }
        .left-box .left-menu .menu-list {
        list-style-type: none;      
        /* font-family: "Roboto", sans-serif; */
        /* color: #35444F; */
        padding-left: 0;
        /* height: 399px; */
        width: 344px;
        /* box-sizing: border-box; */
        border: #35444F 1px solid;
        }
                .left-box .left-menu .menu-list .menu-item {
                line-height: 27px;    
                text-align: left;
                font-size: 27px;
                /* box-sizing: border-box; */
                }
                .left-box .menu-item:hover {
                background-color: #35444F;
                color: black;
                
                }
                .left-box .left-menu .menu-list .menu-item:first-child{
                    padding-top: 26px;
                    padding-bottom: 25px;
                    padding-left: 44px;
                /* padding-right: 194px; */
                  }
                  .left-box .left-menu .menu-list .menu-item:first-child:hover{
                    text-align: center;
                     

                  }

                  .left-box .left-menu .menu-list .menu-item:nth-child(2){
                    padding-top: 27px;
                    padding-bottom: 27px;
                    padding-left: 38px;
                padding-right: 78px;
                  }
                  .left-box .left-menu .menu-list .menu-item:nth-child(2):hover{
                    text-align: center;
                    
                  }

                  .left-box .left-menu .menu-list .menu-item:nth-child(3){
                  padding-top: 25px;
                  padding-bottom: 27px;
                  padding-left: 42px;
                  /* padding-right: 82px; */
                }
                  .left-box .left-menu .menu-list .menu-item:nth-child(3):hover{
                    text-align: center;
                  
                  }

                    .left-box .left-menu .menu-list .menu-item:nth-child(4){
                    padding-top: 25px;
                    padding-bottom: 27px;
                    padding-left: 44px;
                    padding-right: 21px;}
                    .left-box .left-menu .menu-list .menu-item:nth-child(4):hover{
                        text-align: center;
                        
                      }

                .left-box .left-menu .menu-list .menu-item:last-child {
                    padding-top: 25px;
                    padding-bottom: 30px;
                    padding-left: 44px;
                /* padding-right: 147px; */
                }
                .left-box .left-menu .menu-list .menu-item:last-child:hover {
                    text-align: center;
                    
                }
                .left-box .left-menu .menu-list .menu-item .left-link {
                    color: #35444F;
                    color: black;
                }
                .left-box .left-menu .menu-list .menu-item .left-link:hover {
                    color: black;
                    
                }
    .main-section .right-image {
        border: #35444F 1px solid;
        position: absolute;
        /* margin-top: 67px; */
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #000000;
margin-left: 396px;
/* margin-top: 48px; */
width: 885px;
height: 529px;  
/* vertical-align: middle; */
text-align: center;
align-items: center; 

}
.right-image .section-sheep {
/* display: table-cell; */
vertical-align: middle;
text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 73px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    /* height: 263px; */
    width: 1280px;
    margin-left: 100px;
    margin-top: 167px;

}
.content .content-text {
    box-sizing: border-box;
    position: absolute;
    margin-left: 396px;
    width: 885px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: start;
    align-items: center;
}
.content .content-text2 {
    box-sizing: border-box;
    position: absolute;
   padding-top: 143px;
padding-left: 496px;
padding-right: 99px;
/* font-family: "Roboto", sans-serif; */
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
text-align: start;
align-items: center;
}
.top-menu{
    display:inline-flex;
    /* justify-content: flex-start; */
    /* flex-wrap: nowrap; */
    background: rgba(99, 105, 110, 0.48);
    width: 1280px;
    max-height: 69px;
    margin-left: -896px;
    margin-right: 100px;
    margin-top: 355px;
    /* box-sizing: content-box; */
   }
   /* .top-menu .footer-menu {
       padding-top: 354px;
   } */
.top-menu .footer-menu .footer-list {
    display:flex;
    justify-content: flex-start;
    /* flex-wrap: nowrap; */
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    /* margin-top: 354px; */
    list-style-type: none;
}
   .top-menu .footer-list .footer-item {
    border-bottom: #3181A6;
    /* line-height: 5px; */
    /* font-family: "Roboto", sans-serif; */
font-style: normal;
font-weight: 400;
font-size: 28px;
padding-top: 20px;
padding-bottom: 21px;
padding-left: 30px;
}
.top-menu .footer-list .footer-item:first-child {
    padding-left: 40px;
}
.footer-menu .footer-link {
color: #010101;
text-decoration: none;
}

.footer-menu .footer-link:hover {
    color: #3181A6;
    
}
.footer-menu .footer-link:hover::after {
   
content: "";
display: block;
width: auto;
padding-top: 10px;

border-bottom: 2px solid #3181A6;
}
.top-menu .footer-link .colored {
    padding-left: 75px;
    padding-right: 0;
}

.top-menu .copyright {
    max-height: 100%;
    padding-top: 0px;
    font-size: 24px;
    padding-left: 120px;
    padding-right: 40px;
    padding-top: 21px;
}

